# Ignore temporary vim files.
*.swp
*.swo

# Ignore krita files
*.kra
*.kra~

# npm
node_modules/
npm-debug.log
# yarn
yarn-error.log

# temporary repl-session file
tmp_repl.js

# webpack source-maps
*.js.map

dist/
.cache/

